<mat-sidenav-container fullscreen>

    <mat-sidenav #start>
        <mat-nav-list>
            <a mat-list-item routerLink="fixtures" (click)="start.close()">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </a>
  
            <a mat-list-item routerLink="fixtures" (click)="start.close()">
                <mat-icon>today</mat-icon>
                <span>Fixtures</span>
            </a>

            <a mat-list-item routerLink="leaguetable" (click)="start.close()">
                <mat-icon>timeline</mat-icon>
                <span>League Table</span>
            </a>

            <a mat-list-item routerLink="fixtures" (click)="start.close()">
                <mat-icon>account_circle</mat-icon>
                <span>Account</span>
            </a>

</mat-nav-list>

</mat-sidenav>

<mat-toolbar color="primary">
    <button mat-icon-button (click)="start.open('mouse')">
        <mat-icon>menu</mat-icon>
    </button>
        <h1>DBA League</h1>
</mat-toolbar>

<router-outlet></router-outlet>