
            <td scope="row">{{league?.Name}}</td>
            <td  scope="row">{{league?.Race}}</td>
            <td >{{league?.Win}}</td>
            <td >{{league?.Loss}}</td>
            <td >{{league?.Draw}}</td>
            <td >{{league?.VP}}</td>
            
            <td class=button_container>
                <button class="button">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
            <td class=button_container>
            <button class="button">
                <mat-icon>delete</mat-icon>
            </button>
            </td>

          
